*.pyc
*.log
node_modules
coverage/
arches_perm_demo/logs
arches_perm_demo/export_deliverables
arches_perm_demo/cantaloupe/*
arches_perm_demo/staticfiles
arches_perm_demo/media/packages
arches_perm_demo/media/build/
arches_perm_demo/uploadedfiles/*
arches_perm_demo/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
